# nltk - 문자열 연산 기초(1)

- 참고 사이트
    - nltk book 1. Language Processing and Python(https://www.nltk.org/book/ch01.html) 내용을 참고해서 자료를 만듦.
    - nltk book의 1장 예제 일부 인용.

## 문자열 타입 변수 선언 방법

문자열(string) 타입 변수는 홑 따옴표(single quote)로 묶거나 쌍 따옴표(double quote)로 묶으면 됩니다.

In [1]:
monty = 'Monty Python'

In [2]:
monty = "Monty Python" 
type(monty)

str

문자열 안에 소유격 기호(apostrophe)를 포함할 경우 쌍 따옴표로 묶어야 합니다.

In [4]:
circus = "Monty Python's Flying Circus"   # 문장 안에 작은 따음표가 있으면 쌍따음표로 하기
circus

"Monty Python's Flying Circus"

문자열 안에 apostrophe(')를 사용할 경우 escape char(\-backslash)를 사용하면 홑 따옴표로 묶을 수 있습니다.

In [5]:
circus = 'Monty Python\'s Flying Circus' # escape 기호로도 표현 가능
circus

"Monty Python's Flying Circus"

## 2개 이상 문자열 연결
- 연결 기호(+, concatenation)를 사용하여 하나의 문자열로 합칠 수 있습니다. 
- 또는 backslash('\\')나 괄호를 사용하여 합칠 수 있습니다.

In [7]:
couplet =  "Shall I compare thee to a Summer's day?" + "Thou are more lovely and more temperate:"
sen1 = "Shall I compare thee to a Summer's day?"
sen2 = "Thou are more lovely and more temperate:"
print(len(sen1),len(sen2))
print(couplet)
print(type(couplet), len(couplet))

39 40
Shall I compare thee to a Summer's day?Thou are more lovely and more temperate:
<class 'str'> 79

콤마(,) 없이 \\기호만 붙이고 줄을 바꿨습니다. 이렇게 해서 만들어도 타입은 **str**입니다.

In [8]:
couplet = "Shall I compare thee to a Summer's day?"\
           "Thou are more lovely and more temperate:"
print(couplet)
print(type(couplet), len(couplet))

Shall I compare thee to a Summer's day?Thou are more lovely and more temperate:
<class 'str'> 79

- \\기호를 붙이는 대신 괄호로 2개 문자열을 묶어도 됩니다. 
- 주의할 건 콤마(,)로 문자열을 구분하면 안됩니다. 타입이 **tuple**로 바뀌기 때문이죠.

In [9]:
couplet = ("Rough winds do shake the darling buds of May, " 
           "And Summer's lease hath all too short a date:")
print(couplet)
print(type(couplet), len(couplet))

Rough winds do shake the darling buds of May, And Summer's lease hath all too short a date:
<class 'str'> 91

- 줄 바꿈(newline)을 추가하려면, *삼중 따옴표*(triple quoted string)를 사용하면 됩니다.
- 삼중 따옴표 안에 포함된 문자열 외에 newline char도 str 객체에 함께 저장됩니다. 길이가 늘어난 걸 확인하세요!!
- 삼중 따옴표로 홑따옴표를 3개 사용해도 됩니다. 시작할 때와 끝낼 때 모두 홑따옴표를 사용해야 합니다.

In [10]:
couplet = """
Shall I compare thee to a Summer's day?
Thou are more lovely and more temperate:
"""
print(couplet)
print(type(couplet), len(couplet))

Shall I compare thee to a Summer's day?
Thou are more lovely and more temperate:

<class 'str'> 82

## 여러 개 문자열을 다룰 때는 리스트를 사용
- 파이썬에서 list는 square bracket([...])를 사용하여 표현합니다.

In [11]:
ex1 = ['A','closer','look','at','Python']
ex1

['A', 'closer', 'look', 'at', 'Python']

In [12]:
sent = 'Texts as List of Words'
sent

'Texts as List of Words'

In [15]:
type(ex1[0])

str

리스트 **ex1**의 원소는 콤마로 구분된 5개이지만, 문자열(str) **sent**의 원소는 문자 갯수인 22개입니다.

In [16]:
print(type(ex1), type(sent), len(ex1), len(sent))

<class 'list'> <class 'str'> 5 22

## join(), split()

- **join()**
    - 리스트 타입을 str 타입으로 변환합니다.
    - 리스트의 원소를 전달받아, 원소들을 구분기호(delimiter)로 모두 연결해서 하나의 str 객체를 만듭니다. 
    - 리스트의 원소와 원소 사이에 delimiter가 삽입됩니다.

In [17]:
ex1join = ';'.join(ex1) #semicolon(;)을 구분기호로 사용
print(type(ex1join), '==>', ex1join)

<class 'str'> ==> A;closer;look;at;Python

- **split()**
    - join과 반대되는 기능으로, str 타입을 리스트로 변환합니다.
    - str 객체를 전달받아 delimiter에서 정의한 기호를 기준으로 여러 개의 str객체로 나눕니다.

In [18]:
wds = sent.split(' ')
print(type(wds), "==>", wds)

<class 'list'> ==> ['Texts', 'as', 'List', 'of', 'Words']

간단한 응용 예제에 지금까지 배운 걸 적용해 볼까요? 아래 문장은 nltk에서 샘플로 제공하는 단문(single sentence)입니다.

In [19]:
ex_sent1 = "Call me Ishmael ."
ex_sent2 = "The family of Dashwood had long been settled in Sussex ."

In [20]:
new_sent1 = ex_sent1.split(' ')
new_sent2 = ex_sent2.split(' ')
print(new_sent1)
print(new_sent2)

['Call', 'me', 'Ishmael', '.']
['The', 'family', 'of', 'Dashwood', 'had', 'long', 'been', 'settled', 'in', 'Sussex', '.']

## 문자열(리스트) 연산 : concatenation(+), append, multiplication(*)

먼저 리스트에 원소를 추가해 보기로 하겠습니다.

In [21]:
new_sent1

['Call', 'me', 'Ishmael', '.']

In [22]:
new_sent1.append("Some")
print(new_sent1)

['Call', 'me', 'Ishmael', '.', 'Some']

마지막에 추가된 원소를 삭제해 보겠습니다.

In [23]:
del new_sent1[-1]
print(new_sent1)

['Call', 'me', 'Ishmael', '.']

2개 리스트를 합쳐 보겠습니다.

In [24]:
new_sent12 = new_sent1 + new_sent2
print(new_sent12[:10])
print(len(new_sent1), len(new_sent2), len(new_sent12))

['Call', 'me', 'Ishmael', '.', 'The', 'family', 'of', 'Dashwood', 'had', 'long']
4 11 15

별로 쓸모는 없지만 파이썬 책에 빠짐없이 나오는 내용이죠. 재미삼아 우리도 한 번 연습해 보겠습니다.

In [25]:
ex2 = 'python' + 'python' + 'python'
ex2

'pythonpythonpython'

In [26]:
ex3 = 'python'*3
ex3

'pythonpythonpython'

## 부분 문자열(substring) 추출
- 인덱스(index)를 사용해 문자열이나 리스트에서 부분 문자열이나 리스트의 일부를 가져오는 것은 너무나 중요합니다.
- 순방향(forward) 인덱스와 역방향(backward) 인덱스 표현에 주의를 기울여 주세요.
- 특히, 부분 문자열의 범위를 지정할 때 마지막 인덱스는 제외된다는 사실을 기억하세요

In [27]:
ex4 = 'Python NLTK'
print(ex4[1])  #순방향 인덱싱
print(ex4[-3]) #역방향 인덱싱

y
L

- **순방향 인덱싱 범위** 를 지정할 때 
    - 왼쪽 인덱스를 생략할 수 있으며, 인덱싱 범위는 **첫 번째 원소(0)** 부터 시작합니다. 
    - 오른쪽 인덱스를 생략할 수 있으며, 인덱싱 범위는 **마지막 원소** 까지 입니다.
    - 왼쪽 인덱스를 지정한 경우, 인덱싱 범위는 **왼쪽 인덱스를 포함** 합니다. 
    - 오른쪽 인덱스를 지정한 경우, 인덱싱 범위는 **(오른쪽 인덱스-1) 까지 포함** 합니다.

In [28]:
ex4 = 'Python NLTK'
print(ex4[0:5])
print(ex4[:6])
print(ex4[:])
print(ex4[:len(ex4)])

Pytho
Python
Python NLTK
Python NLTK

- **역방향 인덱싱 범위** 를 지정할 때(인덱싱 숫자 앞에 -(*minus*)를 붙임)
    - 왼쪽 인덱스를 생략할 수 있으며, 인덱싱 범위는 **첫 번째 원소(0)** 까지입니다. 
    - 오른쪽 인덱스를 생략할 수 있으며, 인덱싱 범위는 **마지막 원소** 부터 시작합니다.
    - 왼쪽 인덱스를 지정한 경우, 인덱싱 범위는 **왼쪽 인덱스를 포함** 합니다. 
    - 오른쪽 인덱스를 지정한 경우, 인덱싱 범위는 **(오른쪽 인덱스-1) 까지 포함** 합니다.

In [29]:
ex4 = 'Python NLTK'
print(ex4[:-1]) #마지막 원소(K)가 빠짐.
print(ex4[-4:]) #4개 원소.
print(ex4[-4:-1]) #3개 원소. 마지막 원소(K)가 빠짐.
print(ex4[:]) #전체 문자열
print(ex4[-len(ex4):]) #전체 문자열

Python NLT
NLTK
NLT
Python NLTK
Python NLTK

인덱싱 범위 지정은 몇 번 연습하면 금방 익힐 수 있습니다. 아래 예제로 연습해 보세요.

In [30]:
str2 = 'NLTK Dolly Python'
len(str2)

17

### **연습 1**: 문자열 str2에서 단어 *Python* 을 가져 오세요. 
순방향 인덱싱, 역방향 인덱싱 등 2가지 방식으로 모두 구현하세요.

In [42]:
str2

'NLTK Dolly Python'

In [33]:
# 순방향 인덱싱
str2[11:]

'Python'

In [34]:
# 역방향 인덱싱
str2[-6:]

'Python'

### **연습 2**: 문자열 str2에서 단어 *NLTK* 를 가져 오세요. 
순방향 인덱싱, 역방향 인덱싱 등 2가지 방식으로 모두 구현하세요.

In [35]:
str2

'NLTK Dolly Python'

In [36]:
#순방향 인덱싱으로 구현하세요
str2[:4]

'NLTK'

- 혹시 뒤에서부터 -1,-2,... 이런 식으로 일일이 세면서 인덱스를 구하지 않았나요?
- 설마... 당연히 -(len('Dolly')+len('Python')+2 로 구했겠죠.

In [40]:
#역방향 인덱싱으로 구현하세요
str2[:-13]

'NLTK'

### **연습 3**: 문자열 str2에서 단어 *Dolly* 를 가져 오세요. 
순방향 인덱싱, 역방향 인덱싱 등 2가지 방식으로 모두 구현하세요.

In [41]:
str2

'NLTK Dolly Python'

In [45]:
#순방향 인덱싱으로 구현하세요
x = len('NLTK')+1
str2[x:x+len('DOLLY')]

'Dolly'

In [46]:
#역방향 인덱싱으로 구현하세요
str2[-12:-7]

'Dolly'

In [50]:
str2[-7-len('DOLLY'):-len('Python')-1]

'Dolly'