In [2]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import re
import datetime
import os

In [31]:
ls = os.listdir('stock_price')

In [13]:
samsung = pd.read_csv('stock_price/samsung_1_10.csv',parse_dates=['날짜'])

In [25]:
def kor_datetime(x):
    korean = re.compile('[\u3131-\u3163\uac00-\ud7a3]+')
    x = re.sub(korean, '', x)
    x = x.replace(' ','-')
    x = datetime.datetime.strptime(x,"%Y-%m-%d")
    return x

datetime.datetime(2021, 10, 31, 0, 0)

In [48]:
stock_df = pd.DataFrame()
for idx,i in enumerate(ls):
    data = pd.read_csv('stock_price/'+i)
    data2 = data[['날짜','종가','변동 %']]
    data2['날짜'] = data2['날짜'].apply(lambda x: kor_datetime(x))
    data2['종가'] = data2['종가'].apply(lambda x: int(x.replace(',','')))
    
    file_name = i.split('_')[0]
    data2.columns = ['date',f'{file_name}_price',f'{file_name}_change']
#     data2.to_csv('stock_price/'+'pre_'+i,index=False)
    if idx == 0:
        stock_df = data2.copy()
    else:
        stock_df = pd.merge(stock_df,data2,on='date')

In [49]:
stock_df

,date,bank_price,bank_change,celltrion_price,celltrion_change,naver_price,naver_change,samsung_price,samsung_change
0,2021-10-29,11050,-0.90%,200500,-6.96%,407000,-1.45%,69800,-1.27%
1,2021-10-28,11150,-2.19%,215500,-1.60%,413000,-0.36%,70700,0.86%
2,2021-10-27,11400,-0.87%,219000,-1.57%,414500,0.48%,70100,-1.41%
3,2021-10-26,11500,0.00%,222500,2.77%,412500,2.48%,71100,1.28%
4,2021-10-25,11500,2.22%,216500,-1.37%,402500,-1.23%,70200,-0.28%
...,...,...,...,...,...,...,...,...,...
236,2021-01-08,8830,-0.45%,367000,2.66%,312000,7.77%,88800,7.12%
237,2021-01-07,8870,1.95%,357500,1.13%,289500,-0.17%,82900,0.85%
238,2021-01-06,8700,-0.11%,353500,-0.28%,290000,-0.85%,82200,-2.03%
239,2021-01-05,8710,1.04%,354500,2.01%,292500,-0.17%,83900,1.08%
240,2021-01-04,8620,-2.49%,347500,-3.20%,293000,0.17%,83000,2.47%

In [56]:
os.listdir('naver_news')

['naver_기업은행_result.xlsx',
 'naver_네이버_result.xlsx',
 'naver_삼성전자_result.xlsx',
 'naver_셀트리온_result.xlsx']

In [65]:
data = pd.read_excel('naver_기업은행_result.xlsx')

In [66]:
data['date'].unique()

array(['2021.10.31.', '2021.10.29.', '2021.10.30.', '2021.10.26.',
       '2021.10.28.', '2021.10.27.', '2021.10.20.', '2021.10.19.',
       '2021.10.18.', '2021.10.21.', '2021.10.12.', '2021.10.15.',
       '2021.10.13.', '2021.10.24.', '2021.10.25.', '2021.10.17.',
       '2021.10.22.', '2021.10.16.', '2021.10.14.', '2021.10.04.',
       '2021.10.08.', '2021.10.07.', '2021.10.03.', '2021.10.06.',
       '2021.10.10.', '2021.10.01.', '2021.10.09.', '2021.10.05.',
       '2021.10.11.', '2021.09.30.', '2021.09.29.', '2021.09.28.',
       '2021.09.27.', '2021.09.26.', '2021.09.24.', '2021.09.25.',
       '2021.09.23.', '2021.09.22.', '2021.09.20.', '2021.09.16.',
       '2021.09.15.', '2021.09.14.', '2021.09.13.', '2021.09.12.',
       '2021.09.11.', '2021.09.10.', '2021.09.09.', '2021.09.08.',
       '2021.09.07.', '2021.09.17.', '2021.09.06.', '2021.09.04.',
       '2021.09.03.', '2021.09.02.', '2021.09.01.', '2021.08.31.',
       '2021.08.30.', '2021.08.29.', '2021.08.28.', '2021.08.27.',
       '2021.08.26.', '2021.08.25.', '2021.08.24.', '2021.08.23.',
       '2021.08.20.', '2021.08.19.', '2021.08.18.', '2021.08.21.',
       '2021.08.17.', '2021.08.16.', '2021.08.14.', '2021.08.15.',
       '2021.08.13.', '2021.08.12.', '2021.08.11.', '2021.08.10.',
       '2021.08.09.', '2021.08.08.', '2021.08.07.', '2021.08.06.',
       '2021.08.05.', '2021.08.04.', '2021.08.03.', '2021.08.02.',
       '2021.08.01.', '2021.07.30.', '2021.07.29.', '2021.07.28.',
       '2021.07.27.', '2021.07.26.', '2021.07.25.', '2021.07.23.',
       '2021.07.22.', '2021.07.21.', '2021.07.19.', '2021.07.20.',
       '2021.07.17.', '2021.07.16.', '2021.07.15.', '2021.07.14.',
       '2021.07.13.', '2021.07.12.', '2021.07.11.', '2021.07.10.',
       '2021.07.09.', '2021.07.08.', '2021.07.07.', '2021.07.06.',
       '2021.07.05.', '2021.07.02.', '2021.07.01.', '2021.07.04.',
       '2021.06.30.', '2021.06.29.', '2021.06.28.', '2021.06.25.',
       '2021.06.24.', '2021.06.23.', '2021.06.22.', '2021.06.21.',
       '2021.06.19.', '2021.06.20.', '2021.06.18.', '2021.06.17.',
       '2021.06.16.', '2021.06.15.', '2021.06.14.', '2021.06.13.',
       '2021.06.12.', '2021.06.11.', '2021.06.10.', '2021.06.09.',
       '2021.06.07.'], dtype=object)