In [1]:
import seaborn as sns
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings('ignore')
import re
import datetime
import os

In [2]:
data = pd.read_excel('naver_news/naver_삼성전자_result.xlsx')

In [3]:
word = pd.DataFrame({'단어':['전자','개미','지금']})
word

   단어
0  전자
1  개미
2  지금

In [4]:
word['word_list'] = [None]*len(word)
word

   단어 word_list
0  전자      None
1  개미      None
2  지금      None

In [5]:
ls = []
for idx,w in enumerate(word['단어']): 
    ls = data.index[data['title'].str.contains(w) == True].tolist()
    word['word_list'].iloc[idx] = ls
word

   단어                                          word_list
0  전자  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
1  개미  [1, 2, 14, 26, 32, 49, 50, 64, 100, 102, 106, ...
2  지금    [1, 233, 471, 830, 832, 1746, 2055, 2056, 2132]

In [6]:
data.head()

,title,abstract,url,date,engine
0,"""20일 삼성전자 언팩, '이것' 공개된다""",삼성전자의 갤럭시S21 FE(팬에디션)가 이번 달 출시될 것이라는 전망이 나왔다. ...,http://moneys.mt.co.kr/news/mwView.php?no=2021...,2021.10.15,naver
1,"""삼성전자 지금 사야 돈 번다""…개미들 2조 '줍줍'한 이유",개미(개인투자자)들의 삼성전자 사랑이 여전하다. 삼성전자가 3거래일 만에 '7만전자...,https://www.hankyung.com/finance/article/20211...,2021.10.16,naver
2,떨어지는 삼성전자 잡는 개미들…열흘간 3조원 넘게 순매수,"주가, 연고점 대비 29% 하락…10개월 만에 '6만전자' 증권가, 반도체 업황 우...",http://yna.kr/AKR20211013173100002?did=1195m,2021.10.14,naver
3,"삼성전자가 미국기업도 아닌데…또 호출한 바이든, 왜?",조 바이든 미국 대통령이 미국 내 물류대란을 해결하기 위해 민간기업의 협조를 요청하...,http://news.mt.co.kr/mtview.php?no=20211015154...,2021.10.16,naver
4,"삼성전자, 5G 업로드 세계 신기록 달성…비결은?",삼성전자는 5G 이동통신 업로드 속도에서 세계 최고 기록을 달성했다고 15일 밝혔다...,http://www.sisaon.co.kr/news/articleView.html?...,2021.10.15,naver

In [7]:
word

   단어                                          word_list
0  전자  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
1  개미  [1, 2, 14, 26, 32, 49, 50, 64, 100, 102, 106, ...
2  지금    [1, 233, 471, 830, 832, 1746, 2055, 2056, 2132]

In [8]:
def matching_word(crawling_data,word_data,crawling_col,word_col): 
    '''
    crawling col = 크롤링 데이터 column, word_col = 연관단어 데이터 컬럼
    crawling_data = 크롤링 데이터, word_data = 단어 데이터
    '''
    word['word_list'] = [None]*len(word)
    for idx,w in enumerate(word[word_col]): 
        ls = data.index[data[crawling_col].str.contains(w) == True].tolist()
        word['word_list'].iloc[idx] = ls
    return word
matching_word(data,word,'title','단어')

   단어                                          word_list
0  전자  [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13,...
1  개미  [1, 2, 14, 26, 32, 49, 50, 64, 100, 102, 106, ...
2  지금    [1, 233, 471, 830, 832, 1746, 2055, 2056, 2132]

In [9]:
raise IOError

OSError:

In [ ]:
label = []
label2 = []
for idx,ti in enumerate(data['title']):
    if '지금' in ti or '개미' in ti:
        label.append(idx)
    if word['단어'].str in ti:
        label2.append(idx)

In [ ]:
label

In [ ]:
data['title']

In [ ]:
samsung = pd.read_csv('stock_price/samsung_1_10.csv')

In [ ]:
def korean2date(data,col):
    korean = re.compile('[\u3131-\u3163\uac00-\ud7a3]+')
    data[col] = data[col].apply(lambda x: re.sub(korean,'-',x.strip())[:-1])
    data[col] = data[col].apply(lambda x: x.replace(' ',''))
    data[col] = data[col].apply(lambda x: datetime.datetime.strptime(x,'%Y-%m-%d'))
    return data

In [ ]:
samsung = korean2date(samsung,'날짜')

In [ ]:
plt.figure(figsize=(20,12))
sns.lineplot(data = samsung,x = '날짜',y='종가')
sns.lineplot(data = samsung,x = '날짜',y='오픈')