## Enumerate

In [2]:
ls = ['foo','bar','baz']
mapping = {}
for i,v in enumerate(ls):
    mapping[v] = i
mapping

{'foo': 0, 'bar': 1, 'baz': 2}

In [4]:
print(sorted([7,1,2,6,0,3,2]))
print(sorted('horse race'))

[0, 1, 2, 2, 3, 6, 7]
[' ', 'a', 'c', 'e', 'e', 'h', 'o', 'r', 'r', 's']

## Zip
- 짝지어서

**HW1**

In [7]:
seq1 = ['foo','bar','baz']
seq2 = ['one','two','three']
zipped = zip(seq1,seq2)
print(list(zipped))

[('foo', 'one'), ('bar', 'two'), ('baz', 'three')]

In [8]:
seq3 = [False,True]
list(zip(seq1,seq2,seq3)) # 짧은 것 기준으로

[('foo', 'one', False), ('bar', 'two', True)]

In [21]:
from itertools import zip_longest # 긴 것을 기준으로
list(zip_longest(seq1,seq2,seq3))

[('foo', 'one', False), ('bar', 'two', True), ('baz', 'three', None)]

In [10]:
for i ,(a,b) in enumerate(zip(seq1,seq2)):
    print(f'{i} : {a}, {b}')

0 : foo, one
1 : bar, two
2 : baz, three

In [12]:
pitchers = [('Nolan','Ryan'),('Roger','Clemens'),('Schilling','Curt')]
first_names,last_names = zip(*pitchers)

In [13]:
first_names

('Nolan', 'Roger', 'Schilling')

In [14]:
last_names

('Ryan', 'Clemens', 'Curt')

## dictionary type

In [22]:
dic = {}
d1 = {'a':'some value','b':[1,2,3,4]}
d1

{'a': 'some value', 'b': [1, 2, 3, 4]}

In [23]:
d1[7] = 'an integer' # dic[key] = value
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [24]:
d1['b']

[1, 2, 3, 4]

In [25]:
'b' in d1 # key 의 유무 - value 아님!

True

In [27]:
d1[5] = 'some value'
d1

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer', 5: 'some value'}

In [28]:
d1['dummy'] = 'another value'
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 5: 'some value',
 'dummy': 'another value'}

In [29]:
del d1[5]
d1

{'a': 'some value',
 'b': [1, 2, 3, 4],
 7: 'an integer',
 'dummy': 'another value'}

In [30]:
ret = d1.pop('dummy')
ret # 지운 key 값의 value

'another value'

In [32]:
d1 # pop 으로 지워짐

{'a': 'some value', 'b': [1, 2, 3, 4], 7: 'an integer'}

In [34]:
list(d1.keys())

['a', 'b', 7]

In [35]:
list(d1.values())

['some value', [1, 2, 3, 4], 'an integer']

In [36]:
d1.update({'b':'foo','c':12}) # key 없는 것도 추가가 가능
d1

{'a': 'some value', 'b': 'foo', 7: 'an integer', 'c': 12}

In [37]:
mapping = dict(zip(range(5),reversed(range(5))))
mapping

{0: 4, 1: 3, 2: 2, 3: 1, 4: 0}

**HW2**

In [42]:
words = ['apples','bat','bar','atom','book']
by_letter = {}
for word in words:
    letter = word[0]
    if letter not in by_letter:
        by_letter[letter] = [word]
    else:
        by_letter[letter].append(word)
    print(by_letter)
by_letter

{'a': ['apples']}
{'a': ['apples'], 'b': ['bat']}
{'a': ['apples'], 'b': ['bat', 'bar']}
{'a': ['apples', 'atom'], 'b': ['bat', 'bar']}
{'a': ['apples', 'atom'], 'b': ['bat', 'bar', 'book']}

{'a': ['apples', 'atom'], 'b': ['bat', 'bar', 'book']}

In [39]:
by_letter = {}
for word in words:
    letter = word[0]
    by_letter.setdefault(letter,[]).append(word)
by_letter

{'a': ['apples', 'atom'], 'b': ['bat', 'bar', 'book']}

In [41]:
from collections import defaultdict
by_letter = defaultdict(list)
for word in words:
    by_letter[word[0]].append(word)
by_letter

defaultdict(list, {'a': ['apples', 'atom'], 'b': ['bat', 'bar', 'book']})

## hash

- 사전의 키는 scalar or hash 로 바뀌지 않는 개체만 가능
- hash function을 통해서 바뀔 수 있는 것인지, 바뀌지 않는 것인지 검사 가능
- 바뀔 수 없는 것은 정상 동작, 바뀔 수 있는 것은 error 반환

In [45]:
hash('string')

346197011698184447

In [46]:
hash((1,2,(2,3)))

-9209053662355515447

In [47]:
hash((1,2,[2,3])) # unhashility

TypeError: unhashable type: 'list'

## Set

**hw3**

In [49]:
set([2,2,2,1,3,3])

{1, 2, 3}

In [50]:
{2,2,2,1,3,3}

{1, 2, 3}

In [51]:
a = {1,2,3,4,5}
b = {3,4,5,6,7,8}

In [52]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7, 8}

In [53]:
a|b # union

{1, 2, 3, 4, 5, 6, 7, 8}

In [54]:
a.intersection(a,b)

{3, 4, 5}

In [55]:
a & b # intersection

{3, 4, 5}

In [59]:
c = a.copy()
c |= b # union update
c

{1, 2, 3, 4, 5, 6, 7, 8}

In [60]:
d = a.copy()
d &= b # intersection update
d

{3, 4, 5}

In [64]:
my_data = [1,2,3,4]
my_set = {tuple(my_data)}
my_set

{(1, 2, 3, 4)}

In [65]:
a_set = {1,2,3,4,5}
{1,2,3}.issubset(a_set)

True

In [66]:
a_set.issuperset({1,2,3})

True

In [67]:
{1,2,3} == {3,2,1}

True

In [1]:
strings = ['a','as','bat','car','dove','python']
[x.upper() for x in strings if len(x)>2]

['BAT', 'CAR', 'DOVE', 'PYTHON']

In [2]:
unique_lengths = {len(x) for x in strings}
unique_lengths

{1, 2, 3, 4, 6}

In [3]:
set(map(len,strings))

{1, 2, 3, 4, 6}

In [4]:
loc_mapping = {val : index for index,val in enumerate(strings)}
loc_mapping

{'a': 0, 'as': 1, 'bat': 2, 'car': 3, 'dove': 4, 'python': 5}

In [26]:
all_data = [['John','Emily','Michael','Mary','Steven'],['Maria','Juan',"Javier",'Natalia','Pilar']]
names_of_interest = []
for names in all_data:
    enough_es = [name for name in names if name.count('e')>=2]
    names_of_interest.extend(enough_es)
names_of_interest

['Steven']

In [16]:
result = [name for names in all_data for name in names if name.count('e')>=2]
result

['Steven']

In [17]:
some_tuples = [(1,2,3),(4,5,6),(7,8,9)]
flattened = [x for tup in some_tuples for x in tup]
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [19]:
flattened = []
for tup in some_tuples:
    for x in tup:
        flattened.append(x)
flattened

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [20]:
[[x for x in tup] for tup in some_tuples]

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]