In [5]:
template = '{0:.2f} {1:s} are US${2:d}'
template.format(4.5560,'Argentine Pesos',1)

'4.56 Argentine Pesos are US$1'

In [6]:
template = '{value} {unit} are worth US${value2}'
template.format(value=1160.567,unit = 'Korea Won',value2=1)

'1160.567 Korea Won are worth US$1'

In [8]:
s = '3.14159'
bool(s)

True

In [10]:
false_string = ''
bool(false_string)

False

In [2]:
sequence = [1,2,0,4,6,5,2,1]
total_until_5 = 0
for value in sequence:
    if value == 5:
        break
    total_until_5 += value
total_until_5

13

In [3]:
for i in range(4):
    for j in range(4):
        if j > i :
            break
        print(i,j)

0 0
1 0
1 1
2 0
2 1
2 2
3 0
3 1
3 2
3 3

In [4]:
seq = [1,2,3,4]
for i in range(len(seq)):
    val = seq[i]
val

4