# 201600779 김영민

## Lab1.1

In [1]:
import pandas as pd

In [2]:
fruit = ['apple','orange','banana']
name = ['jo','kim','lee']
alpha = ['a','b','c']
final_ls = fruit + name + alpha
for i,j in enumerate(final_ls):
    print(f'{i}:{j}')
df = pd.DataFrame()
df['values'] = final_ls
df.to_csv('lab1_1.csv',index=False)
pd.read_csv('l')

0:apple
1:orange
2:banana
3:jo
4:kim
5:lee
6:a
7:b
8:c

   values
0   apple
1  orange
2  banana
3      jo
4     kim
5     lee
6       a
7       b
8       c

## Lab1.2

In [3]:
ls1 = ['a','b','c']
ls2 = [1,2,3]
dic = {}
for k,v in zip(ls1,ls2):
    if k not in dic.keys():
        dic[k] = v
    else:
        print('In already')
print(dic)

{'a': 1, 'b': 2, 'c': 3}

# 201600779 김영민